<h1>Add New Post</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<%= nested_form_for @post do |f| %>
		
			<%= render 'shared/errors', object: f.object %>

			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control' %>
			
			<%= f.label :body %>
			<%= f.text_area :body, class: 'form-control' %>
				
			<%= f.fields_for :images do |image_form| %>
			  <%= image_form.file_field :picture %>
			  <%= image_form.link_to_remove "Remove this image" %>
			<% end %>
			<p><%= f.link_to_add "Add an image", :images %></p>

			<%= f.submit "Add Post", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>