<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div>
			<b>Post By: </b><%= @post.user.email %> </br>
			<b>Title: </b><%= @post.title %> </br>
			<b>Body: </b><%= @post.body %>
		</div>
		<div>
			<b> Comments: </b>
			<%= render @comments %>
		</div>
			<%= form_for [@post, Comment.new] do |f| %>
		  
		  <%= f.text_area :content, required: "required" %>
		  <%= f.submit "Add Comment"%>
		<% end %>
		<div>
			<b>Comments fetched by query:</b></br>
			<% @commented_users.each do |user| %>
				<%= user.email %> commented on Post "Kuch Bhi"</br>
			<% end %>
		</div>
	</div>
</div>